<h1>Showing all money transactions</h1>
<p>
  <%= link_to "New Money transaction", new_moneytransaction_path %>
</p>

<table>
  <tr>
    <th>
      Title
    </th>
  </tr>
  <% @moneytransactions.each do |moneytransaction| %>
    <tr>
      <td><%= moneytransaction.title %></td>
      <td><%= link_to "Edit", edit_moneytransaction_path(moneytransaction) %></td>
      <td><%= link_to "Show", moneytransaction_path(moneytransaction) %></td>


    </tr>
  <% end %>

</table>
