<h1>Showing selected money Money transaction</h1>

<p>
  Title: <%= @moneytransaction.title %>
</p>

<%= link_to "Edit the transaction", edit_moneytransaction_path %>
<%= link_to "Back to money transaction listing", moneytransactions_path %>
